# Configurações da Plataforma de Microserviços
NODE_ENV=development

# Configurações do Banco de Dados
DB_NAME=microservices_platform
DB_USERNAME=platform_user
DB_PASSWORD=platform_password

# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Portas dos Microserviços
TRANSFER_SERVICE_PORT=3000
CLIENT_SERVICE_PORT=3001
NOTIFICATION_SERVICE_PORT=3002 