# Configurações da Aplicação
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# Configurações do Banco de Dados (opcional - usa valores padrão se não definido)
DB_NAME=transfer_service
DB_USERNAME=transfer_user
DB_PASSWORD=transfer_password 