# Configurações da Aplicação
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

# Configurações do Banco de Dados (externo)
DB_HOST=your-database-host.com
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_NAME=your_database_name 